<ion-view title="Create New User" id="page11" style="">
  <ion-content padding="true" class="has-header">
    <ion-list id="createNewUser-list5">
      <ion-list id="createNewUser-list6">
        <ion-item class="item-avatar" id="createNewUser-list-item10" style=""></ion-item>
      </ion-list>
      <label class="item item-input" id="createNewUser-input9">
        <span class="input-label">First Name</span>
        <input placeholder="John" type="text">
      </label>
      <label class="item item-input" id="createNewUser-input10">
        <span class="input-label">Last Name</span>
        <input placeholder="Doe" type="text">
      </label>
      <label class="item item-input" id="createNewUser-input13">
        <span class="input-label">Cell Phone</span>
        <input placeholder="(012) 345 - 6789" type="tel">
      </label>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 36px;"></div>
    <form id="createNewUser-form3" class="list">
      <label class="item item-input" id="createNewUser-textarea1">
        <span class="input-label">Notes</span><textarea placeholder="Enter any notes on user here"></textarea></label>
    </form>
  </ion-content>
</ion-view>