<ion-view title="Create Event" id="page13" style="">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-calendar"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="createEvent-form15" class="list">
      <label class="item item-input" id="createEvent-input17">
        <span class="input-label">Event Name</span>
        <input placeholder="Town Square Gathering" type="text">
      </label>
      <label class="item item-input" id="createEvent-input19">
        <span class="input-label">Event Date</span>
        <input placeholder="Dec. 25, 2016" type="text">
      </label>
      <label class="item item-input" id="createEvent-input20">
        <span class="input-label">Event Time</span>
        <input placeholder="8 AM - 3 PM" type="text">
      </label>
      <label class="item item-input" id="createEvent-input18">
        <span class="input-label">Location</span>
        <input placeholder="Ozark Ar." type="text">
      </label>
    </form>
    <div id="createEvent-button-bar1" class="button-bar">
      <button id="createEvent-button7" class="button button-assertive  button-block">Add Picture</button>
      <a ui-sref="tabsController.events" id="createEvent-button15" class="button button-light  button-block">Save</a>
    </div>
  </ion-content>
</ion-view>