<ion-view title="Events" id="page4" style="">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-ios-calendar-outline"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="list card" id="events-card21"></div>
    <button id="events-button6" class="button button-assertive  button-block">Create Event</button>
    <ion-list id="events-list8">
      <ion-item class="item-thumbnail-left" id="events-list-item39" ui-sref="tabsController.home" style="">
        <img src="img/k08xj7w1QigteBtSHxyC_school_car.jpg">
        <h2>Bus Riders</h2>
        <p>Check-In</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="events-list-item42" ui-sref="tabsController.home" style="">
        <img src="img/JBt3wT2OTS2jTNwVzMwh_car_school_kid.jpg">
        <h2>Car Riders</h2>
        <p>Check-In</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="events-list-item43" ui-sref="tabsController.home" style="">
        <img src="img/omhVPJoHT0WukuxRcOg4_kid_walking_home.jpg">
        <h2>Walking Home</h2>
        <p>Check-In</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="events-list-item44" ui-sref="tabsController.home" style="">
        <h2>Other</h2>
        <p>Check-In</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>