<ion-view title="Home" id="page2" style="">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-home"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-checkmark-circle"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="home-container6">
      <form id="home-form9" class="list">
        <label class="item item-select" id="home-select1">
          <span class="input-label">Event Name</span>
          <select>
            <option>Class Role Call</option>
            <option>Lunch Attendees</option>
            <option>Car Riders</option>
            <option></option>
          </select>
        </label>
        <a ui-sref="tabsController.users" id="home-button4" style="border-radius:1px 1px 1px 1px;" class="button button-assertive button-large button-clear icon-left ion-android-add-circle"> Add User</a>
        <label class="item item-input" id="home-search1" style="">
          <i class="icon ion-search placeholder-icon"></i>
          <input placeholder="Search user" type="search">
        </label>
        <hr>
        <div class="spacer" style="width: 300px; height: 26px;"></div>
      </form>
    </div>
    <div id="home-container3">
      <form id="home-form10" class="list">
        <ion-checkbox id="home-checkbox1" style=""></ion-checkbox>
        <ion-item class="item-avatar" id="home-list-item26" style="">
          <h2>Joe Smith</h2>
        </ion-item>
      </form>
    </div>
    <form id="home-form11" class="list">
      <ion-checkbox id="home-checkbox4" style=""></ion-checkbox>
      <ion-item class="item-avatar" id="home-list-item30" style="">
        <h2>Jane Cox</h2>
      </ion-item>
      <ion-checkbox id="home-checkbox3" style=""></ion-checkbox>
      <ion-item class="item-avatar" id="home-list-item31" style="">
        <h2>Gary </h2>
      </ion-item>
      <button id="home-button5" class="button button-positive  button-block">Tap me!</button>
    </form>
  </ion-content>
</ion-view>