<ion-view title="Options" id="page10" style="">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-gear-b"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-checkmark-circle"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="options-list7">
      <ion-toggle toggle-class="toggle-balanced" ng-checked="true" id="options-toggle2">WiFi</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced" id="options-toggle3">Bluetooth</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced" ng-checked="true" id="options-toggle4">Location</ion-toggle>
    </ion-list>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" id="options-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="options-slide24" style="background:url(img/avfsZwJT9WGsBj982ul1_kitten1.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="options-slide25" style="background:url(img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="options-slide26" style="background:url(img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>