<ion-view title="Users" id="page3" style="">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-person-stalker"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="users-form13" class="list">
      <label class="item item-input" id="users-search2" style="">
        <i class="icon ion-search placeholder-icon"></i>
        <input placeholder="search name" type="search">
      </label>
      <ion-item class="item-divider" id="users-list-item-divider1"> A</ion-item>
      <ion-item class="item-avatar" id="users-list-item45" ui-sref="tabsController.userInformation" style="">
        <img src="img/2lbxXBJqQnqXCoehshXh_johnny_appleseed.jpg">
        <h2>Johnny Appleseed</h2>
      </ion-item>
      <ion-item class="item-divider" id="users-list-item-divider2"> B</ion-item>
      <ion-item class="item-avatar" id="users-list-item52" ui-sref="tabsController.userInformation" style="">
        <img src="img/EyrWLzmFQdi1pbqKmAFK_birchwood_man.jpg">
        <h2>Jonathan Birchwood</h2>
      </ion-item>
      <ion-item class="item-avatar" id="users-list-item53" ui-sref="tabsController.userInformation" style="">
        <img src="img/BKEx9u66SBKmLpGr3rvf_blackberry_girl.jpg">
        <h2>Jane Blackberry</h2>
      </ion-item>
      <ion-item class="item-divider" id="users-list-item-divider3"> Z</ion-item>
      <ion-item class="item-avatar" id="users-list-item54" ui-sref="tabsController.userInformation" style="">
        <img src="img/9AwD1OsaTUekrUS5FNqw_janet.jpg">
        <h2>Janet Zapados</h2>
      </ion-item>
    </form>
  </ion-content>
</ion-view>